@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
  font-family: 'Open', sans-serif;
  margin: 0;
  padding: 0;
  background-color: azure;
  color: azure;
}
a{
  text-decoration: none;
  color: azure;
}
a:hover{
  text-decoration: underline;
}
header{
  height: 70px;
  background-color: deepskyblue;
  width: 100%;
  user-select: none;
}
header p {
  margin: 40px 1% 0 0;
  float: right;
}
.nameOfServise{
  float: left;
  margin-left: 1%;
  cursor: pointer;
}
.sectionSearch{
  border-bottom: 1px solid #00d17b;
  min-height: 20px; 
  margin: 2% 5%;
  width: 90%;
}
.sectionOnFocus{
  border-bottom: 1px solid deepskyblue;
  min-height: 20px; 
  width: 90%;
}
section input[type="text"]{
  width: 90%;
  border: none;
  padding-left: 2%;
  background-color: azure;
  color: deepskyblue;
}
section input[type="text"]:focus{
  outline: none;
}
.inputSubmit{
  float: right;
  width: 20px;
  height: 20px;
  border: none;
  background: azure url('../images/iconSearchGreen.png') no-repeat;
  background-size: contain;
}
.inputOnFocus{
  background-image: url('../images/iconSearchBlue.png');
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  height: 100%;
  background-color:deepskyblue ;
  padding: 0 0.5%;
  user-select: none;
}
nav li {
  flex: 1 1;
  height: 100%;
  display: flex;
  transform: skew(-15deg);
  cursor: pointer;
}
nav li > p{
  width: 100%;
  text-align: center;
  transform: skew(15deg);
}
.openPublishersList{
  display: none;
}
.activePublisher{
  background-color: #00d17b;
}
